<% JSON.parse(@trips).group_by{ |t| t["date"]}.to_a.reverse.each_with_index do |trip, index| %>
  <div class="alert alert-primary" role="alert">
    <%= trip[0].to_date.strftime("%d %B")  %>
  </div>
  <% trip[1].each_with_index do |trip_day, i| %>
    <div class="card mb-3">
      <div class="card-body">
        <h5 class="card-title"><%= trip_day["name"] %></h5>
        <span>Horario de salida </span>
        <p class="card-text"><%= trip_day["time"] %></p>
        <p class="card-text">
          <strong>Inicio: </strong><%= trip_day["trip_stops"].first["address"] if trip_day["trip_stops"].present? %>
          <br />
          <strong>Termina: </strong><%= trip_day["trip_stops"].last["address"] if trip_day["trip_stops"].present? %>
        </p>
        <% if trip_day["vehicle"].present? %>
          <p class="card-text">
            <h6>Vehículo</h6>
            <strong>Modelo: </strong><%= trip_day["vehicle"]["model"] %>
            <br />
            <strong>Placas: </strong><%= trip_day["vehicle"]["plate"] %>
          </p>
        <% end %>
        <% if trip_day["trip_stops"].present? %>
          <%= render "shared/trips/stops", i: i+index, stops: trip_day["trip_stops"] %>
        <% end %>
      </div>
    </div>
  <% end %>
<% end %>