<div id="accordion">
  <div class="card">
    <div class="card-header" id="heading<%= i %>">
      <h5 class="mb-0">
        <button class="btn btn-primary collapsed" data-toggle="collapse" data-target="#collapse<%= i %>" aria-expanded="false" aria-controls="collapse<%= i %>">
          Ver paradas y usuarios
        </button>
      </h5>
    </div>
    <div id="collapse<%= i %>" class="collapse" aria-labelledby="heading<%= i %>" data-parent="#accordion">
      <div class="card-body">
        <h5>Paradas </h5>
        <ul class= "list-group list-group-flush">
          <% stops.each do |stop| %>
            <li class="list-group-item">
              <%= stop["address"] %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>