<div class="text-center">
  <div class= "logo-main">
    <%= image_tag("logo-jetty-green", class: "img-fluid logo")%>
    <div class="slogan"> Buen Viaje. Siempre.</div>
  </div>
  <% if !alert.nil? %>
      <div class="alert alert-icon alert-dismissible alert-info" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <i class="fa fa-times" aria-hidden="true"></i>
        </button>
        <strong><%= alert %></strong>
      </div>
    <% end %>
    <% if !notice.nil? %>
      <div class="alert alert-icon alert-dismissible alert-success" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <i class="fa fa-times" aria-hidden="true"></i>
        </button>
        <strong><%= notice %></strong>
      </div>
    <%end%>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="form-group">
      <%= f.email_field :email, autofocus: true, class: "form-control", autocomplete: "email", placeholder: "Correo electrónico"%>
    </div>

    <div class="form-group">
      <%= f.password_field :password, autocomplete: "current-password", class: "form-control", placeholder: "Contraseña" %>
    </div>

    <div class="actions">
      <%= f.submit t('.sign_in'), class: "btn btn-primary btn-lg btn-block" %>
    </div>
  <% end %>

  <%#= render "devise/shared/links" %>
</div>