$main-color: rgba(79, 188, 167, 1)
.logo-main
  margin-bottom: 50px
  .logo
    width: 450px
  .slogan
    font-weight: bold
    color: darkgray
.btn-primary
  background-color: $main-color
  border-color: $main-color
  &:hover
    background-color: $main-color
    border-color: $main-color
  &:focus
    background-color: $main-color
    border-color: $main-color
.title
  h3
    color: darkgray
.card
  .card-body
    .card-title
      color: $main-color
nav
  a
    img.nav
      width: 80px
  &.navbar-expand-lg
  &.navbar-light
    .navbar-nav
      .nav-link
        color: #ffff
  &.bg-light
    background-color: $main-color !important
