<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">
    <%= image_tag "logo-jetty", class: "img-fluid nav"%>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <%= link_to "Datos locales", trips_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "Datos Api", api_data_trips_path, class: "nav-link" %>
      </li>
    </ul>
    <div class="session">
      <%= link_to "Cerrar sesión", destroy_driver_session_path, method: :delete, class: "nav-link" %>
    </div>
  </div>
</nav>