<!DOCTYPE html>
<html>
  <head>
    <title>TestJetty</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class= "container">
      <%= render "layouts/nav" if driver_signed_in? %>
      <div class="row justify-content-md-center">
        <div>
          <%= yield %>
        </div>
      </div>
  </body>
</html>
